*.suo
KnightsInAFen/KnightsInAFen/bin/
KnightsInAFen/KnightsInAFen/obj/
*.ncrunchproject
KnightsInAFen/_NCrunch_KnightsInAFen/
KnightsInAFen/packages/
KnightsInAFen/KnightsInAFen.ncrunchsolution.user
KnightsInAFen/KnightsInAFen.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KnightsInAFen/KnightsInAFen.Tests/obj/
KnightsInAFen/KnightsInAFen.Tests/bin/
*.ncrunchsolution
